.textCSS{
    text-align: center;
    margin-bottom: 2%;
}

.buttonCSS1{
    background-color: transparent ;
    color: rgb(0, 0, 0);
    border-style:none;
    border-width: 0px;
    margin-left:3%;
    height:50px;
    font-size: 2.2rem;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(28deg) brightness(106%) contrast(101%);

}

.buttonCSS1:hover{
    transform: scale(1.2); 
    cursor: pointer;
}

.githubButton1{
  height: 3rem;
  width: 10rem;
  margin-left: 2%;
  margin-bottom:1rem;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(28deg) brightness(106%) contrast(101%);
}

.githubButton1:hover{
    transform: scale(1.2); 
    cursor: pointer;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(28deg) brightness(106%) contrast(101%);
}

.linkedinButton1{
  height: 9rem;
  width: 12rem;
  margin-bottom:1rem;

  margin-left: 2%;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(28deg) brightness(106%) contrast(101%);

}
.linkedinButton1:hover{
    transform: scale(1.2); 
    cursor: pointer;
}

.textalCSS{
    text-align: center;
}
