
.projectMaintitle{
    text-align: center;
    margin-bottom: 30px;
}

.customProject1{
    margin-bottom: 30px;
}

.thirdrowText{
    text-align: center;
}

.mobileGif{
    margin-top: 2%;
    height: 700px;
}