

@media only screen and (max-width: 600px) {
    
    .PCgif{
        width:350px;
        height:280px
    }
  
}
  
.projectMaintitle{
    text-align: center;
    margin-bottom: 30px;
}

.customProject1{
    margin-bottom: 30px;
}

.thirdrowText{
    text-align: center;
}

.mobileGif{
    margin-top: 2%;
    height: 700px;
}

.projectBlock {
  transition: all 0.4s cubic-bezier(0.1, 0.5, 0.2, 1);}
  .projectBlock:hover {
      transform: scale(1.03) translateY(-3px);

}